@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Open Sans',sans-serif;
    scroll-behavior: smooth;
}

body.overflowHidden{
    overflow: hidden;
}

h2.title-orange{
    font-family: 'Arvo', serif;
    color: #ef664d;
    font-size: 2.4rem;
    font-weight: 400;
    text-transform: uppercase;
}

h2.title-dark-blue{
    font-family: 'Arvo', serif;
    color: #2a404e;
    font-size: 2.4rem;
    font-weight: 400;
    text-transform: uppercase;
}

p.white-background{
    font-size: .9rem;
    color: #000;
    padding: 10px 44px;
    text-align: center;
}

p.dark-blue-background{
    font-size: .9rem;
    color: white;
    padding: 10px 44px;
    text-align: center;
}

.section-texts{
    text-align: center;
    width: 95%;
    margin: 0 auto;
}

.center{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

i.fa-chevron-down{
    width: 30px;
    height: 30px;
    line-height: 25px;
    color: #ef664d;
    border: 3px solid #ef664d;
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 50px;
}

/*scroll up styling*/

.scroll-up{
    position: fixed;
    right: 20px;
    bottom: 20px;
    color: #ef664d;
    font-size: 2.3rem;
    display: none;
    animation: fade 1s;
    cursor: pointer;
    z-index: 3;
}

.scroll-up.scrollDisplay{
    display: block;
}

/*BANNER STYLING*/

.banner{
    background-image: url(../IMG/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 2%;
}

i.btnMenu{
    display: none;
}

header nav ul{
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0 13px;
}

header nav ul li a {
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
}

header nav ul li a:hover{
    color: #ef664d;
}

header nav ul li a.link-select{
    color: #ef664d;
}

.slide-container{
    height: 450px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-container .prevBTN,
.slide-container .nextBTN{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #B3B4B9;
    font-size: 33px;
    cursor: pointer;
}

.prevBTN{
    left: 15px;
}

.nextBTN{
    right: 15px;
}

.slide-content{
    text-align: center;
    color: white;
    font-size: 2.4rem;
    display: none;
}

.slide-content span{
    color: #ef664d;
}

.slide-content.activeSlide{
    display: block;
}

.fade{
    animation: fade .5s;
}

@keyframes fade{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.dot-container{
    position: absolute;
    bottom: 60px;
    z-index: 1;
}

span.single-dot{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 3px solid #CCCECE;
    border-radius: 50%;
    transition: background-color .3s ease;
    cursor: pointer;
    margin-right: 3px;
}

span.single-dot.activeDot{
    background: #ef664d;
    border: none;
}

/*ABOUT STYLING*/

.about-me{
    text-align: center;
    padding: 40px 0;
}

.about-me h2{
    margin-bottom: 50px;
}

.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.about-user{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-user img{
    max-width: 100%;
    border-radius: 50%;
    border: 2px solid #ef664d;
    margin-left: 15px;
    object-fit: contain;
}

.about-user h3.about-username{
    font-size: 1.4rem;
    margin-bottom: 40px;
}


.about-content-text{
    flex: 1;
    
    text-align: center;
}

/*SKILL STYLING*/

div.skills .skill-flex{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

div.skills > h3{
    font-size: 1.5rem;
    margin: 15px;
}

.single-skill{
    width: 50%;
    padding: 15px;
}

.skill-text{
    display: flex;
    justify-content: space-between;

}

.skill-text p{
    text-transform: uppercase;
    font-weight: 600;
    color: #2a404e;
}

.skill-bar{
    width: 100%;
    height: 15px;
    background: #dedede;
    margin-top: 10px;
}

.skill-percent{
    width: 0%;
    height: 15px;
    background: #ef664d;
}

.skill-percent.percent20{
    width: 20%;
}

/*CERTIFICATE STYLING*/

section.certificate{
    background: #2E3E4E;
    padding: 40px 2%;
    text-align: center;
    padding: 40px 0;
}

.certificate-text p{
    color: white;
}

.certificate-gallery{
    min-height: 500px;
    background: url(../IMG/left.png) no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px 0;
}

.single-image {
    width: 275px;
    height: 221px;
    position: relative;
    padding: 5px 7px 0 7px;
    margin-bottom: 20px;
    cursor: pointer;
}

.single-image img{
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.single-image i {  
    position: absolute;
    top: 20%;
    left: 50%;
    font-size: 2rem;
    color: #ef664d;
    opacity: 0;
    transition: .3s ease;
    transform: translate(-50%,-50%);  
}

.single-image:hover i {
    opacity: 1;
    top: 45%;
}

/*FULL SCREEN VIEW WORKS*/

.fullView{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left:0;
    background:rgba(0, 0, 0,.9);
    z-index: 4;
    display: none;
    align-items: center;
    justify-content: center;
}

.fullView.fullViewOpen{
    display:flex;
}

.fa-times{
    color:#FFF;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    right: 3%;
    top: 3%;
}

.box-image img{
    object-fit: contain;
    padding: 8%;
    max-width: 1200px;
    width: 100vw;
    height: 100vh;
    min-height: 100%;
}


/*SERVICES STYLING*/

section.services{
    text-align: center;
    padding: 40px 0;
}

.services-icons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services-box-single{
    width: 380px;
    margin: 15px 0;
}

.services-box-single i {
    width: 128px;
    height: 128px;
    line-height: 128px;
    font-size: 4.1rem;
    background: #ef664d;
    color: #FFF;
    border-radius: 50%;
}

.services-box-single h4{
    color: #2a404e;
    margin: 10px 0;
}

.services-box-single p {
    font-size: .9rem;
}

/*CONTACT STYLING*/

section.contact{
    background: #2E3E4E;
    text-align: center;
    padding: 40px 0;
}
.social-medias{
    text-align: center;
    margin: 50px 0 40px 0;
}

.social-medias i {
    color:white;
    font-size: 1.1rem;
    margin: 0 10px;
    cursor: pointer;
}

.social-medias i:hover{
    color: #ef664d;
}

form.form-container{
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
}

.input-wraper{
    width: 100%;
    border-bottom: 1px solid #B3B4B9;
    margin: 15px 10px;
}

.input-flex{
    width: 100%;
    display: flex;
}

form.form-container input[type='text'],
form.form-container input[type='email'],
form.form-container input[type='number']{
    width: 100%;
    background:none;
    border:none;
    line-height: 35px;
    outline:none;
    font-size: 1rem;
    color: #B3B4B9;
}

form.form-container input[type='text']::placeholder,
form.form-container input[type='email']::placeholder,
form.form-container input[type='number']::placeholder{
    color: #B3B4B9;
}

form.form-container textarea{
    width: 100%;
    margin: 25px 10px;
    background: none;
    border: none;
    border-bottom: 1px solid #B3B4B9;
    font-size: 1.25rem;
    color: #B3B4B9;
    outline:none;
    resize: none;
}

form.form-container textarea::placeholder{
    color: #B3B4B9;
}

.submit-wraper{
    width: 100%;
    height: 10px;
    display: block;
}

form.form-container input[type='submit']{
    padding: 10px 15px;
    background: #ef664d;
    border: none;
    color: #D5D6D7;
    font-size: .8rem;
    text-align: right;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 4px;
}

form.form-container input[type='submit']:hover{
    color: #D5D6D7;
    background: #e45d45;
}


/*FOOTER STYLING*/

footer{
    padding: 0 4%;
    background: #2E3E4E;
}

footer .center {
    border-top: 1px solid rgba(213, 214, 215,.2);
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

footer .center address{
    color: #D5D6D7;
    font-size: 17px;
}

footer address a{
    color: #ef664d;
    transition: color .3s ease, text-decoration .3s ease;
}

footer address a:hover{
    color: #D5D6D7;
    text-decoration: underline;
}

@media screen and (max-width: 768px){
    i.btnMenu{
        display: block;
        font-size: 2rem;
        color: white;
        cursor: pointer;
    }

    header nav{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 100px;
        left: -100%;
        background: rgba(0,0,0,.6);
        z-index: 3;
        transition: left .3s ease;
    }

    header nav.menuOpen{
        left:0;
    }

    header nav ul{
        list-style: none;
        display: initial;
        align-items: center;
        padding: 10px;
    }
    
    header nav ul li {
        margin: 10px 20px;
        border-bottom: 1px solid #ccc;
    }

    header nav ul li:last-child{
        border-bottom: none;
    }
    
    header nav ul li a {
        color: white;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 400;
        display: block;
        
        padding: 10px 0;
    }

    header nav ul li a:hover{
        color: #ef664d;
    }

    .certificate-gallery{
        background: none;
        
    }

    form.form-container{
        padding: 0 2%;
    }
}

@media screen and (max-width: 549px){
    .about-me{
        text-align: center;
        padding: 40px 0;
    }
    
    .about-container{
        display: flex;
        flex-direction: column;
    }
    
    .about-user{
        margin-top: 25px;
        width: 100%;
    }
    
    .about-user img{
        max-width: 250px;
        margin: 15px 0 0 0;
    }


    .work-gallery{
        background: none;
        padding: 0;
    }
    
    .single-image {
        width: 100%;
        height: auto;
        position: relative;
        padding: 5px 7px;
    }
    
    .single-image img{
        width: 100%;
        max-width: 100%;
        cursor: pointer;
    }
    
    .single-image i {  
        position: absolute;
        top: 20%;
        left: 50%;
        font-size: 2rem;
        color: #ef664d;
        opacity: 0;
        transition: .3s ease;
        transform: translate(-50%,-50%);  
    }

    .single-image:hover i {
        opacity: 1;
        top: 50%;
    }

    .box-image img{
        object-fit: contain;
        padding: 2%;
        max-width: 1200px;
        width: 100vw;
        height: 100vh;
        min-height: 100%;
    }
}

@media screen and (max-width: 500px){
    .slide-content{
        font-size: 1.7rem;
        width: 70%;
    }

    

    .single-skill{
        width: 100%;
    }

    .input-flex{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}